html, body {
height: 100%;
max-height: 100%;
font-family: 'Roboto', sans-serif;

}

.top-container {
    padding-top: 10%;
    color: black;

}

.general-container {
    background: url('img/bg.jpg');
    height: 100%;
    font-weight: 100!important;
    color: black;
}

.general-container form {
    margin-top: 20px;
}

.general-container form label {
    font-weight: 100;
    padding: 10px;
}

.title {
    text-align: center;
    color: black;
    font-weight: 100;
    line-height: 50px;
}

.btn-orange {
    background-color: #e8643e;
    border: none;
    margin: 10px;
}

.btn-orange:hover {
    background-color: #dc5129;
    border: none;
}